<script src="node_modules/tether/dist/js/tether.min.js"></script>
<script src="node_modules/traceur/src/bootstrap.js"></script>

<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-5">
            <h1 class="page-header">Teradata System Dashboard</h1>
        </div>
        <div class="col-xl-7">
            <ol class="breadcrumb">
                <li><a href="/dashboard/home"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
                <li class="active"><i class="fa fa-fw fa-bar-chart-o"></i> Teradata</li>
            </ol>
        </div>        
    </div>

  <!--MJH PLAY SECTION-->
  
  <div class="row">
    <div class="col-lg-1"></div>
  <div class="col-lg-1">
            <ul class="list-group">
                <li href="javascript:;" class="list-group-item"><h3>CPRD</h3></li>
                <li href="javascript:;" class="list-group-item list-group-item-success">Batch 2016 Jan</li>
                <li href="javascript:;" class="list-group-item list-group-item-info">Batch 2015 Jul</li>
                <li href="javascript:;" class="list-group-item list-group-item-info">Batch 2015 Jan</li>
                <li href="javascript:;" class="list-group-item list-group-item-info"  data-toggle="tooltip" data-placement="top" title="works">Batch 2014 Jul</li>
            </ul>       
  </div>
    <div class="col-lg-1">
            <ul class="list-group">
                <li href="javascript:;" class="list-group-item"><h3>IMSEU</h3></li>
                <li href="javascript:;" class="list-group-item list-group-item-success">Batch 2016 Jan</li>
                <li href="javascript:;" class="list-group-item list-group-item-info">Batch 2015 Jul</li>
                <li href="javascript:;" class="list-group-item list-group-item-info">Batch 2015 Jan</li>
                <li href="javascript:;" class="list-group-item list-group-item-info">
				<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
  Batch 2014 Jul</button></li>
            </ul> 
    </div>       
    <div class="col-lg-8">
	<table class="table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
	</div>
	    <div class="col-lg-1"></div>
  </div>
  
</div>
